/* Temel sıfırlama */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f4f4;
}

/* Wrapper için stil */
.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar stilleri */
#sidebar {
    width: 250px;
    background: #87CEEB;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
    position: fixed;
    z-index: 1; 
    overflow-y: auto;
}

    #sidebar .sidebar-header {
        padding: 20px;
        background: #4682B4;
        text-align: center;
        font-size: 14px;
    }

    #sidebar ul.components {
        padding: 20px 0;
        list-style: none;
    }

        #sidebar ul.components li {
            padding: 10px;
            padding-left: 20px;
            border-bottom: 1px solid #1E90FF;
        }

            #sidebar ul.components li a {
                color: #fff;
                text-decoration: none;
                display: block;
            }

                #sidebar ul.components li a:hover {
                    color: #87CEEB;
                    background: #fff;
                }


#content {
    margin-left: 250px; 
    padding: 20px;
    transition: all 0.3s;
    width: calc(100% - 250px); /* Sidebar genişliği kadar alandan çıkar */
    overflow-y: auto;
    position: relative;
    z-index: 2; /* İçerik üstte görünür */
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
}

#pageTitle {
    margin-top: 20px;
}

/* Responsive medya sorguları */
@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        #sidebar .sidebar-header {
            text-align: center;
        }

    #content {
        margin-left: 0;
        width: 100%;
    }
}
