/* Ana Sayfa Stil Ayarları */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('/images/kütüphane.jpg') no-repeat center center fixed; /* Arka Plan Resmi */
    background-size: cover;
    color: #fff;
    text-align: center;
}

.welcome-content {
    background: rgba(255, 255, 255, 0.9); /* Daha açık renkli yarı saydam arka plan */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Daha belirgin gölge */
    max-width: 600px; /* İçeriği sınırlandırarak daha düzenli görünmesini sağlar */
    margin: 20px; /* Etrafına biraz boşluk ekler */
}

    .welcome-content h1 {
        font-size: 3em;
        margin-bottom: 20px;
        color: #333; /* Açık koyu renkli başlık */
    }

    .welcome-content p {
        font-size: 1.2em;
        margin-bottom: 30px;
        color: #666; /* Açık gri paragraf rengi */
    }

.btn-primary {
    background: #4ea9ff; /* Daha açık gökyüzü mavisi */
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease, transform 0.3s ease; /* Yumuşak geçiş ve büyütme efekti */
}

    .btn-primary:hover {
        background: #3399ff; /* Hover rengi */
        transform: scale(1.05); /* Hover efekti ile butonu büyütür */
    }

    .btn-primary:active {
        background: #297bbd; /* Butona tıklanırken daha koyu renk */
        transform: scale(0.95); /* Tıklama efekti ile butonu küçültür */
    }

@media (max-width: 768px) {
    .welcome-content {
        padding: 20px;
    }

        .welcome-content h1 {
            font-size: 2.5em;
        }

        .welcome-content p {
            font-size: 1em;
        }

    .btn-primary {
        font-size: 1em;
        padding: 10px 20px;
    }
}
