<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - MyApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site1.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    @if (Context.Request.Path != "/Admin/Index" && Context.Request.Path != "/Admin")
    {
        <header>
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">KÜTÜPHANE</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    }

    <div class="container">
        @RenderBody()
    </div>

    @if (Context.Request.Path != "/Admin/Index" && Context.Request.Path != "/Admin")
    {
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Kütüphane - </p>
        </footer>

        @RenderSection("Scripts", required: false)
    }
</body>
</html>
