@model KutuphaneUygulamasi.Models.Book

<h2>Yeni Kitap Ekle</h2>

<form id="add-book-form" enctype="multipart/form-data">
    <div>
        <label for="Title">Kitap Adı:</label>
        <input type="text" id="Title" name="Title" required />
    </div>
    <div>
        <label for="Author">Yazar:</label>
        <input type="text" id="Author" name="Author" required />
    </div>
    <!-- Diğer kitap özellikleri için input alanları -->
    <div>
        <label for="pdfFile">PDF Dosyası:</label>
        <input type="file" id="pdfFile" name="pdfFile" accept=".pdf" />
    </div>
    <button type="submit">Kitap Ekle</button>
</form>

<script>
    $('#add-book-form').submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url: '/Create/AddBook',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.success) {
                    alert('Kitap başarıyla eklendi!');
                    loadPage('ListBooks', 'Create');
                } else {
                    alert('Bir hata oluştu: ' + result.errors.join(', '));
                }
            },
            error: function (xhr, status, error) {
                console.error("Bir hata oluştu: ", error);
            }
        });
    });
</script>