@model IEnumerable<KutuphaneUygulamasi.Models.Book>

<h2>Kitap Listesi</h2>

<table>
    <thead>
        <tr>
            <th>Kitap Adı</th>
            <th>Yazar</th>
            <th>PDF</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>
                    @if (!string.IsNullOrEmpty(book.PdfFilePath))
                    {
                        <a href="@book.PdfFilePath" target="_blank">PDF'i Görüntüle</a>
                    }
                    else
                    {
                        <span>PDF Yok</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>